p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-left: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

:root {
  --accent-color: #2196f3;
  --primary-color-text: #212121;
  --secondary-color-text: #757575;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo--black {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway";
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.19;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav__item:not(last-child) {
  margin-right: 40px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: var(--primary-color-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.underline:hover::after,
.nav__link.underline:focus::after {
  opacity: 1;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  color: var(--secondary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpeg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-content__title {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-right: 252px;
  margin-bottom: 30px;
  margin-left: 252px;
}

.hero-content__button {
  display: inline-block;
  background-color: var(--accent-color);
  font-family: "Roboto";
  font-weight: 700;
  color: white;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 47px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  width: 270px;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits-box {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__title {
  margin-bottom: 10px;
  color: var(--primary-color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits__text {
  color: var(--secondary-color-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.skills {
  padding-top: 47px;
  padding-bottom: 94px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__item:not(:last-child) {
  margin-right: 30px;
}

.skills__item {
  position: relative;
}

.skills__top-text {
  position: absolute;
  bottom: 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-bottom: 24px;
  padding-top: 24px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  width: 270px;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team-member__name {
  margin-bottom: 10px;
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-member__text {
  color: var(--secondary-color-text);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.socials-list__item:last-child {
  margin-right: 0;
}

.socials-list__link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__icon {
  fill: #afb1b8;
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--accent-color);
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */