.main-nav {
  display: flex;
  align-items: center;
}

.logo--black {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway";
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.19;
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__item:not(last-child) {
  margin-right: 40px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  color: var(--primary-color-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  opacity: 0;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.underline:hover::after,
.nav__link.underline:focus::after {
  opacity: 1;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__link {
  color: var(--secondary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
